/* Side Menu Styles */
.side-menu {
    width: 20%;
    padding: 20px;
    font-family: 'Arial', sans-serif; 
    background-color: #f8f8f8; 
    border-right: 1px solid #ddd; 
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.05); 
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}

.side-menu li {
    margin-bottom: 12px; 
}

.side-menu a {
    display: block;
    padding: 10px 15px; 
    text-decoration: none;
    color: #444; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    text-align: left;
    border-radius: 6px; 
    background-color: transparent; 
}

.side-menu a:hover {
    color: #fff; 
    background-color: #ff9800; 
}


.container {
    display: flex;
    min-height: calc(100vh - 110px);
}

.hero-container {
    width: 80%;
}
